body{
    font-family: Arial, Helvetica, sans-serif; 
    background-color: var(--gris-fond); 
    color: var(--gris-text);
    font-weight: bold; 
    text-align: left; 
    line-height: 1.6; 
    font-size: 18px;
    margin: auto; 
    padding: 20px;
    max-width: 900px;
}
h1, h2{
    color: var(--bleu-principal);
}
h3{
    color: var(--orange-accent);
}
form{
    margin-top: 500px;
}
input[type="text"]{
    padding: 8px; 
    width: 100%; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-top: 5px;
}
label{
    display: block; 
    margin-top: 15px; 
    font-size: 18px;
}
input, textarea{
    width: 100%; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-top: 5px;
}
button{
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    margin-top: 15px;
}
:root {
    --bleu-principal: #1e3a8a;
    --vert-secondaire: #10b881;
    --background-color: #f9fafb;
    --gris-text: #374151;
    --orange-accent: #f59e0b;
}
a{
    color: var(--bleu-principal);
    text-decoration: none;
}
a:hover{
    color: var(--orange-accent);
}
.section-fr {
    border-left: 10px solid var(--bleu-principal);
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
}
.section-de {
    border-left: 10px solid var(--vert-secondaire);
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
}
nav{
    background-color: #022d1f;
    padding: 10px;
}
nav a{
color: white;
text-decoration: none;
margin-right: 15px;
font-weight: bold;
}
nav a:hover{
color: #f59e0b;
}
main{
    max-width: 900px;
    margin: auto;
    padding: 20px;
}
.resume-de{
    background-color: #e6fffa;
    border: 2px solid #10b981;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px 0;
    font-size: italic;
}
.subtitle{
    font-size: 20px;
    color: #555;
    margin-top: -10px;
    margin-bottom: 20px;
}
.article-image{
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
}
.blog-image{
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
}
footer{
    background-color: #022d1f;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
.service-card{
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}
.img {
    max-width: 100%;
    height: auto;
}
.service-image {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 8px;
}
.index-image {
    max-width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 8px;
}
carousel {
    display: flex;
    overflow-x: auto;
    text-align: center;
    line-height: 1.6;
    scroll-snap-type: x mandatory;
}
ul li img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
    border-radius: 10px;
}
i {
    font-style: italic;
    color: #034d34;
}